@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
  /* border: 1px solid red; */
}

.breadcrumb-item a {
  color: red
}

.bg-home {
  background: linear-gradient(180deg, #164033 0%, #000C2F 63.16%);
}

.custom-dropdown-menu {
  position: absolute;
  z-index: 1000;
  will-change: transform;
  top: 0;
  left: 0;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #DB4444;
}



