@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
  /* border: 1px solid red; */
}

.font-pixel {
  font-family: 'Pixelify Sans';
}

.font-audiowide {
  font-family: 'Audiowide', sans-serif;
}


.breadcrumb-item a {
  color: red
}

.bg-home {
  background: linear-gradient(180deg, #164033 0%, #000C2F 63.16%);
}

.custom-dropdown-menu {
  position: absolute;
  z-index: 1000;
  will-change: transform;
  top: 0;
  left: 0;
}

.player-wrapper {
  width: auto;
  height: auto;
}
.react-player {
  padding-top: 56.25%;
  position: relative;
}

.react-player > div {
  position: absolute;
}

.orange_border {
  box-shadow: 4px 4px 1px rgb(255, 165, 0);
}

.orange_border_2 {
  box-shadow: 4px 4px 1px rgb(255, 115, 0);
}

.black_border {
  box-shadow: 4px 4px 1px rgb(0, 0, 0);
}

.bar {
  width: 10vw;
  height: 105vh;
  background-color: orange;
}

.counter-intro {
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1000;
  color: black;
  padding: 50px;
  font-size: 40vw;
  font-family: "Audiowide", sans-serif;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #DB4444;
}



